.App {
  font-size: smaller;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #21242b;
  color: white;
  font-family: monospace;
}

header {
  background-color: #21242b;
  display: flex;
  flex-direction: row;
  padding: .25em;
  padding-left: 1em;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  height: 40px;
}

p {
  color: darkgrey;
}

.headerIcon {
  max-height: 1.5em;
  max-width: 1.5em;
}

main {
  background-color: #282c34;
  padding: 1em;
  flex: 1 1 auto;
}

footer {
  background-color: #21242b;
  color: grey;
  font-size: calc(2px + 2vmin);
  text-align: left;
  padding: .5em;
}